<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Turismo Real</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700;900&family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Turismo.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Estilos.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700;900&family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <style>
        *, body {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .blanco {
            color: #ffffff;
        }

        .header {
            margin: 50px 150px 0px 150px;
            padding-bottom: 30px;
        }

        .semibold {
            font-weight: 600;
        }

        .blackbold {
            font-weight: 900;
        }

        .vietnam {
            font-family: 'Be Vietnam Pro', sans-serif;
        }

        .open {
            font-family: 'Open Sans', sans-serif;
        }

        .titulo {
            font-size: 16px;
        }

        .texto {
            font-size: 14px;
        }

        .naranjo {
            color: #f27166;
        }

        .bnaranjo {
            background-color: #f27166;
        }

        .blackgray {
            color: #626262;
        }

        .gray {
            color: #626262;
        }

        a {
            text-decoration: none;
        }

        li a {
            margin: 0 25px;
        }

        .login {
            background: #f27166;
            color: #ffffff;
            border: none;
            width: 90px;
            height: 30px;
            margin-left: 25px;
            border-radius: 10px;
            font-weight: 700;
        }

            .login:hover {
                color: #f27166;
                border: 2px solid #f27166;
                background: #ffffff;
            }

        .buscador {
            height: 120px;
            background: #F6F6F6;
            padding: 5px 150px;
        }

            .buscador h1 {
                font-size: 20px;
                margin-bottom: 5px;
            }

        .cajabusqueda {
            display: flex;
        }

            .cajabusqueda div {
                width: 20%;
                height: 50px;
                border: 1px solid #F6F6F6;
                background: #ffffff;
                -webkit-box-shadow: 1px 0px 1px 0px rgba(0,0,0,0.15);
                -moz-box-shadow: 1px 0px 1px 0px rgba(0,0,0,0.15);
                box-shadow: 1px 0px 1px 0px rgba(0,0,0,0.15);
            }

                .cajabusqueda div:first-child {
                    border-radius: 10px 0 0 10px;
                }

                .cajabusqueda div input:first-child {
                    border-radius: 10px 0 0 10px;
                }

                .cajabusqueda div input {
                    width: 100%;
                    max-width: 100%;
                    height: 100%;
                    border: none;
                    text-align: center;
                }

                    .cajabusqueda div input:focus {
                        outline: none;
                    }

        .buscar {
            width: 20%;
            height: 50px;
            border: 1px solid #f27166;
            border-radius: 0 10px 10px 0;
            -webkit-box-shadow: 1px 0px 1px 0px rgba(0,0,0,0.15);
            -moz-box-shadow: 1px 0px 1px 0px rgba(0,0,0,0.15);
            box-shadow: 1px -1px 1px 0px rgba(0,0,0,0.15);
        }

            .buscar:hover {
                color: #f27166;
                border: 2px solid #f27166;
                background: #ffffff;
            }

        .buscador div h2 {
            width: 20%;
            padding: 5px 0;
            text-align: center;
        }

        .cajabusqueda select {
            width: 100%;
            max-width: 100%;
            height: 100%;
            text-align: center;
            border: none;
            background: #ffffff;
        }
    </style>
</head>
<body>
    @*HEADER*@
    <div class="header" style="display:flex; justify-content:space-between;">
        <a href="/">
            <div style="display:flex;width:250px;">
                <img src="/img/logoNaranja.png" style="width:50px;" alt="TurismoReal">
                <p class="vietnam naranjo" style="font-size:20px;font-weight:900; margin:auto 5px">TURISMO REAL</p>
            </div>
        </a>
        <ul style="display:flex;align-items:center; list-style:none;">
            <li class="open semibold titulo"><a href="/">Menú</a></li>
            <li class="open semibold titulo"><a href="/">Ayuda</a></li>
            @if (User.Identity.IsAuthenticated)
            {
                <li class="open semibold titulo"><a href="/">@User.Identity.Name</a></li>
                <li class="open semibold titulo">
                    <form class="form-inline" asp-action="Logout" asp-controller="Usuario">
                    <button  class="login">LOG OUT</button>
                    </form>
                </li>
            }
            else
            {
                <li class="open semibold titulo"><a asp-controller="usuario" asp-action="Registro">Registrarse</a></li>
                <li class="open semibold titulo">
                    
                    <a type="submit" asp-controller="usuario" asp-action="Login" class="login btn">LOG IN</a>
                </li>
            }
        </ul>
        @*HEADER*@


        @*@Html.ActionLink("Application name test", "Index", "Home")*@
    </div>

    <div class="">
        <main>
            <div class="container">@RenderBody()</div>

        </main>

        <footer style="margin: 0 150px; ">
            <div style="background: #F6F6F6; height: 2px;"></div>
            <ul class="vietnam titulo blackgray" style="display: flex; list-style: none; justify-content: center;">
                <li><a>©2022 <span style="font-weight:900;">TURISMOREAL</span></a></li>
                <li><a>· Privacidad</a></li>
                <li><a>· Terminos</a></li>
                <li><a>· Mapa del sitio</a></li>
                <li><a>· Datos de la empresa</a></li>
            </ul>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

