@model DepartamentoCreacionViewModel
@{
    ViewData["Title"] = "Editar Departamento";
}


<h2 class="fw-bold">Editar Departamento</h2>
<h5>
    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form
</h5>

<form asp-controller="Departamento" asp-action="Editar">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label asp-for="NroDepartamento" class="form-label"></label>
        <input type="number" asp-for="NroDepartamento" class="form-control" />
        <span asp-validation-for="NroDepartamento" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="NroPiso" class="form-label"></label>
        <input type="number" asp-for="NroPiso" class="form-control" />
        <span asp-validation-for="NroPiso" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="NroHabitaciones" class="form-label"></label>
        <input type="number" asp-for="NroHabitaciones" class="form-control" />
        <span asp-validation-for="NroHabitaciones" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="EstadoDepartamentoId" class="form-label"></label>
        <select asp-for="EstadoDepartamentoId" asp-items="Model.TiposEstadoDepartamento" class="form-select"></select>
        <span asp-validation-for="EstadoDepartamentoId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Descripcion" class="form-label"></label>
        <textarea asp-for="Descripcion" class="form-control"></textarea>
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Direccion" class="form-label"></label>
        <input type="text" asp-for="Direccion" class="form-control" />
        <span asp-validation-for="Direccion" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CiudadId" class="form-label"></label>
        <select asp-for="CiudadId" asp-items="Model.TiposCiudades" class="form-select"></select>
        <span asp-validation-for="CiudadId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Bano" class="form-label"></label>
        <input type="checkbox" asp-for="Bano" class="form-check-input" />
        <span asp-validation-for="Bano" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Cocina" class="form-label"></label>
        <input type="checkbox" asp-for="Cocina" class="form-check-input" />
        <span asp-validation-for="Cocina" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Piscina" class="form-label"></label>
        <input type="checkbox" asp-for="Piscina" class="form-check-input" />
        <span asp-validation-for="Piscina" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Patio" class="form-label"></label>
        <input type="checkbox" asp-for="Patio" class="form-check-input" />
        <span asp-validation-for="Patio" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Estacionamiento" class="form-label"></label>
        <input type="checkbox" asp-for="Estacionamiento" class="form-check-input" />
        <span asp-validation-for="Estacionamiento" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Jacuzzi" class="form-label"></label>
        <input type="checkbox" asp-for="Jacuzzi" class="form-check-input" />
        <span asp-validation-for="Jacuzzi" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Tv" class="form-label"></label>
        <input type="checkbox" asp-for="Tv" class="form-check-input" />
        <span asp-validation-for="Tv" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Parrilla" class="form-label"></label>
        <input type="checkbox" asp-for="Parrilla" class="form-check-input" />
        <span asp-validation-for="Parrilla" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Fumadores" class="form-label"></label>
        <input type="checkbox" asp-for="Fumadores" class="form-check-input" />
        <span asp-validation-for="Fumadores" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Wifi" class="form-label"></label>
        <input type="checkbox" asp-for="Wifi" class="form-check-input" />
        <span asp-validation-for="Wifi" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Lavadora" class="form-label"></label>
        <input type="checkbox" asp-for="Lavadora" class="form-check-input" />
        <span asp-validation-for="Lavadora" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CamaraSeguridad" class="form-label"></label>
        <input type="checkbox" asp-for="CamaraSeguridad" class="form-check-input" />
        <span asp-validation-for="CamaraSeguridad" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="AireAcondicionado" class="form-label"></label>
        <input type="checkbox" asp-for="AireAcondicionado" class="form-check-input" />
        <span asp-validation-for="AireAcondicionado" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Crear</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}