@model ReservaCreacionViewModel
@{
    ViewData["Title"] = "Reservar departamento";
}
<h2 class="fw-bold">Reservar Departamento</h2>
<h5>here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration </h5>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-controller="Reserva" asp-action="Crear">
    
    <div class="mb-3">
        <label asp-for="FechaReserva" class="form-label"></label>
        <input asp-for="FechaReserva" class="form-control" />
        <span asp-validation-for="FechaReserva" class="text-danger"></span>
    </div>
    <div class="mb-3">
    <label asp-for="FechaTerminoReserva" class="form-label"></label>
        <input asp-for="FechaTerminoReserva" class="form-control" />
        <span asp-validation-for="FechaTerminoReserva" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="FechaPedidoReserva" class="form-control" />
    <input type="hidden" asp-for="EstadoReservaId" class="form-control" />
    <div class="mb-3">
        <label asp-for="DepartamentoId" class="form-label"></label>
        <select asp-for="DepartamentoId" asp-items="Model.Departamentos" class="form-select"></select>
        <span asp-validation-for="DepartamentoId" class="text-danger"></span>
    </div>
    <input type="hidden" value="@ViewBag.MiId" asp-for="UsuarioId" class="form-control" />
    <button type="submit" class="btn btn-primary">Crear</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}